body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Landing Page */
.home-link {
  cursor: pointer;
}
.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.room-chat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.burger-menu-header {
  display: none !important;
}

/* Room Container */

.room-container {
  width: 25%;
  border-right: 5px solid #1976d2;
  background-color: #004183;
}

.room-list-container {
  height: 80vh;
  overflow-y: auto;
}

.room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.room-input {
  margin: .5em auto;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: .5em;
  font-size: 1.25em;
  width: 80%;
}

/* Room */

.single-room-container {
  width: 100%;
  border-bottom: 4px solid #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color .2s ease;
  padding: .5em 0em;
}

.single-room-container:hover {
  background-color: #135ba3;
}

.active-room {
  background-color: #135ba3;
}

.single-room-name {
  margin: .0em 0em .0em 1em;
  font-size: 1.75em;
}

/* Chat Container */

.chat-container {
  flex: 1 1 auto;
  height: 92vh;
}

.message-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  overflow-y: auto;
}

.single-message-container {
  width: 100%;
  border-bottom: 4px solid #1976d2;
  position: relative;
}

.server-message {
  background-color: #004183;
  color: white;
}

.single-message {
  margin-left: 1em;
  font-size: 1.25em;
}

.message-form {
  height: 10%;
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
  align-items: center;
}

.message-input {
  width: 85%;
  margin-left: 1em !important;
}

.submit-message-button {
  width: 10%;
  height: 60%;
}

.delete-message-button {
  position: absolute;
  font-weight: bold;
  font-size: 1.25em;
  color: red;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.delete-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: black;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete-modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 15px;
  border: 1px solid #888;
  width: 50%; 
}

/* Login */

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
}

.login-wrapper {
  color: #1976d2;
  background-color: white;
  width: 50%;
  text-align: center;
  padding: 1em;
  box-shadow: 0px 2px 2px rgb(104, 104, 104);
  border-radius: 5px;
}

.login-header {
  font-size: 3em;
  margin-bottom: 0;
}

.sign-in-container h1 {
  font-size: 1.5em;
  margin-bottom: 0
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.login-fields {
  width: 50%;
  margin: .5em 0;
}

.login-input-field {
  width: 100%;
}

.sign-in-button {
  margin: .5em 0em !important;
}

.swap-sign-view {
  font-size: .75em !important;
  cursor: pointer;
}

.login-error {
  font-size: 1em !important;
  text-align: left;
  color: red;
  margin: 0;
}

/* media queries */

@media screen and (max-height: 800px) {
  .message-container {
    margin-bottom: 1em;
  }
  
  .chat-container {
    height: 90vh;
  }
}

@media screen and (max-height: 700px) {
  .chat-container {
    height: 88vh;
  }
  .submit-message-button {
    height: 100%;
  }
}

@media screen and (max-height: 600px) {


  .message-form {
    margin-top: 1em !important;
  }
}

@media screen and (max-width: 850px) {
  .message-input {
    width: 75%;
  }

  .submit-message-button {
    width: 15%;
  }
}

@media screen and (max-width: 768px) {
  .login-wrapper {
    width: 75%;
    font-size: .75em;
  }

  .swap-sign-view {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 700px) {
  .burger-menu-header {
    display: inline-flex !important;
  }

  .room-container {
    display: none;
  }
}

@media screen and (max-width: 576px) {

  .message-form {
    padding: .5em;
  }

  .message-input {
    margin-left: 0 !important;
  }

  .login-fields {
    width: 60%;
  }

  .delete-modal-content {
    font-size: .75em;
  }
}