body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Landing Page */

.landing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.room-chat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

/* Room Container */

.room-container {
  width: 25%;
  border-right: 5px solid #1976d2;
  background-color: #004183;
}

/* Room */

.single-room-container {
  width: 100%;
  border-bottom: 4px solid #1976d2;
  color: white;
  cursor: pointer;
  transition: background-color .2s ease;
  padding: .5em 0em;
}

.single-room-container:hover {
  background-color: #135ba3;
}

.active-room {
  background-color: #135ba3;
}

.single-room-name {
  margin: .0em 0em .0em 1em;
  font-size: 1.75em;
}

/* Chat Container */

.chat-container {
  flex: 1 1 auto;
  height: 93vh;
}

.message-container {
  display: flex;
  height: 90%;
  flex-direction: column;
  overflow-y: auto;
}

.single-message-container {
  width: 100%;
  border-bottom: 4px solid #1976d2;
}

.server-message {
  background-color: #004183;
  color: white;
}

.single-message {
  margin-left: 1em;
  font-size: 1.25em;
}

.message-form {
  height: 10%;
  display: flex;
  justify-content: space-around;
  justify-self: flex-end;
  align-items: center;
}

.message-input {
  width: 85%;
  margin-left: 1em !important;
}

.submit-message-button {
  width: 10%;
  height: 60%;
}